.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.featureCard {
  height: 100%;
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 8px;
  padding: 1.5rem;
  background: var(--ifm-background-surface-color);
}

.featureCard p {
  margin-bottom: 0;
}
